.splice_del{
    margin-left: 10px;
}
.cr-styled{
    line-height: 15px;
    color: #999;
}
.cr-styled input{
   width: 15px;
   height: 15px;
   vertical-align: bottom;
}
.cr-styled i {
    display: inline-block;
    height: 18px;
    width: 18px;
    cursor: pointer;
    vertical-align: middle;
    border: 2px solid #CCC;
    border-radius: 3px;
    text-align: center;
    padding-top: 1px;
    margin-top: -4px;
    margin-right: 3px;
    font-size: 12px;
}
.cr-styled input:checked + i {
    border-color: #6e8cd7;
    color: #6e8cd7;
}
.cr-styled input {
    visibility: hidden;
    display: none;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}
.panel-primary{
    border-color: transparent;
    border-bottom: 1px solid #ccc;
}
.btn-info{
    font-size: 14px;
    margin-left: 10px;
}
.glyphicon-file{
    margin-left: 10px;
    font-size: 10px;
}
.panel-primary>.power_quanxian{
    background-color: #5bc0de;
    border-color: #5bc0de;
}
.panel-primary>.power_user{
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.cr-styled{
    margin-right: 10px;
}